
{% extends 'store/main.html' %}
{% load static%}
   {% load crispy_forms_tags %}

{% block head_title %}{{ block.super}} - Add an Attire {% endblock head_title %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/homepage.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
<button class="btn btn-success" onclick="window.history.go(-1);">Back</button>
<br>
<br>
    <div class="card shadow mb-4">

        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold ">Attire to be Sold</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form class="" method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <input type="submit" class="btn btn-success" value="Available for Selling">
            </form>
        </div>
        </div>
{% endblock %}