{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	{% if total_item_cart %}
		<h2>Shopping Cart</h2>
	{% else %}
		<h2>Your Shopping Cart is empty !!</h2>
	{% endif %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
				<br>
				<br>
				<table class="table" style="background-color: lightyellow">
					<tr>
						<th><h5>Items: <strong>{{total_item_cart}}</strong></h5></th>
						<th><h5>Total:<strong> ${{total_cost_cart}}</strong></h5></th>
						<th>
							{% if check %}
								<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
							{% endif %}
						</th>
					</tr>
				</table>

			</div>

			<br>
			{% if request.user.is_authenticated %}
				<div class="box-element">
						<div class="cart-row" style="background-color: lightgray">
							<div style="flex:2"></div>
							<div style="flex:2"><strong>Item</strong></div>
							<div style="flex:1"><strong>Price</strong></div>
							<div style="flex:1"><strong>Quantity</strong></div>
							<div style="flex:1"><strong>Total</strong></div>
						</div>
					{% for item in items %}
						<div class="cart-row" style="background-color: lightyellow; height: 80px">
							<div style="flex:2"><a href="{% url 'item_detail' item.product.id %}"><img class="row-image" src="{{item.product.get_imageURL}}" style="width: 80px; height: 80px;margin-left: 20px"></a></div>
							<div style="flex:2"><p>{{item.product.name}}</p></div>
							<div style="flex:1"><p>${{item.product.price}}</p></div>
							<div style="flex:1">
								<p class="quantity">{{item.quantity}}</p>
								<div class="quantity">
									<img action ="add" product_id ="{{item.product.id}}"  class="update_cart_quantity chg-quantity" src="{% static  'images/arrow-up.png' %}">
							
									<img action ="remove" product_id ="{{item.product.id}}" class="update_cart_quantity chg-quantity " src="{% static  'images/arrow-down.png' %}">
								</div>
							</div>
							<div style="flex:1"><p>${{item.get_total}}</p></div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>

	<br><br>
	<blockquote class="blockquote text-center">
		<footer class="blockquote-footer"> You've scrolled to the end of the List!</footer>
	</blockquote>
{% endblock content %}