{% extends 'store/main.html' %}
{% block content %}
    <h3>Ordered Items : </h3>
    <br>
    <div>
        {% if request.user.is_authenticated %}
            {% for order in ordered %}
                <div class="box-element" style="background-color: lightgray">
                        <div class="cart-row">
                            <div style="flex:1">
                                <strong>Order Placed</strong>
                                <h6>{{ order.order.date_ordered | date:"d M Y"}} </h6>
                            </div>
                            <div style="flex:1">
                                <strong>Transaction Id</strong>
                                <h6>{{order.order.transaction_id}}</h6>
                            </div>
                            <div style="flex:1">
                                <strong>Total</strong>
                                <h6>${{order.order.amount}}</h6>
                            </div>
                            <div style="flex:1">
                                <strong>Shipped to :</strong>
                                <div>{{order.order.recepient_fullname}}({{order.order.phone_no}})</div>
                                <div>{{order.order.address_line1}}, {{order.order.address_line2}}</div>
                                <div>{{order.order.city}},{{order.order.state}},{{order.order.country}}</div>
                                <div>{{order.order.zipcode}}</div>
                            </div>
                        </div>
                    {% for item in order.items %}
                        <div class="cart-row" style="background-color: lightblue;height: 80px">
                            <div style="flex:1"><img style="width: 80px; height: 80px;margin-left: 20px" class="row-image" src="{{item.get_imageURL}}"></div>
                            <div style="flex:1"><p>Product :{{item.name}}</p></div>
                            <div style="flex:1"><p>Price :${{item.price}}</p></div>
                            <div style="flex:1">
                                <p class="quantity">Quantity :{{item.quantity}}</p>
                            </div>
                            <div style="flex:1"><p>Total :${{item.get_total}}</p></div>
                        </div>
                    {% endfor %}
                </div>
                <br>
            {% endfor %}
            <br>
        {% endif %}
    </div>
    <br><br>
    <blockquote class="blockquote text-center">
        <footer class="blockquote-footer"> You've scrolled to the end of the List!</footer>
    </blockquote>
{% endblock %}