<blockquote class="blockquote text-center" style="text-align: center; padding-top: 100">
	<h1><p class="mb-0">** Payment Successful **</p></h1>
	<h4><p>Please Go Back And Check your orders - </p></h4>
	<br>
	<a href="{% url 'order_details' %}" class="btn btn-secondary mb-2">View Order</a>
</blockquote>