{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in product_categories %}
			<div class="col-lg-4">
				<img class="thumbnail" src="{{ product.get_imageURL }}">
				<div class="box-element product">
					<h6><strong>{{product.name}}</strong></h6>
					<hr>
					<a class="btn btn-outline-success" href="{% url 'show_items' product.id %}">View Items</a>

				</div>
			</div>
		{% endfor %}
	</div>

	<br><br>
	<blockquote class="blockquote text-center">
		<footer class="blockquote-footer"> You've scrolled to the end of the List!</footer>
	</blockquote>

	{% endblock content %}