{% extends 'store/main.html' %}
{% block content %}
    <div class="row my-2">
		<div class="col-lg-4 order-lg-1 text-center">
			{% if request.user.profile.photo %}
				<img src="{{ user.profile.photo.url }}" class="mx-auto img-fluid img-circle d-block" alt="avatar" width="150" height="150">
			{% else %}
				<img src="http://127.0.0.1:8000/static/images/default.png" class="mx-auto img-fluid img-circle d-block" alt="avatar" width="150" , height="150">
			{% endif %}
            {% if request.user.is_authenticated %}
				{% if request.user == user %}
					<br>
					<a class="btn btn-secondary mb-2" href="{% url 'edit_profile'%}">Edit Profile</a>


				{% endif %}
			{% endif %}
        </div>
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
					<h6>@{{user.username}}</h6>
                    <h2 class="mb-3">{{user.first_name}} {{user.last_name}}</h2>
                    <div class="row">
                        <div class="col-md-6">
							<p><strong>Date Of Birth: </strong>{{user.profile.dob}}</p>
							<p><strong>E-Mail: </strong>{{user.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<hr class="my-4">
	<hr class="my-4">
	<h3>Ordered Items : </h3>
	<div>
		{% if request.user.is_authenticated %}
			{% for order in ordered %}
				<div class="box-element" style="background-color: lightgray">
						<div class="cart-row">
							<div style="flex:1">
								<strong>Order Placed</strong>
								<h6>{{ order.order.date_ordered | date:"d M Y"}} </h6>
							</div>
							<div style="flex:1">
								<strong>Transaction Id</strong>
								<h6>{{order.order.transaction_id}}</h6>
							</div>
							<div style="flex:1">
								<strong>Total</strong>
								<h6>${{order.order.amount}}</h6>
							</div>
							<div style="flex:1">
								<strong>Shipped to :</strong>
								<div>{{order.order.recepient_fullname}}({{order.order.phone_no}})</div>
								<div>{{order.order.address_line1}}, {{order.order.address_line2}}</div>
								<div>{{order.order.city}},{{order.order.state}},{{order.order.country}}</div>
								<div>{{order.order.zipcode}}</div>
							</div>
						</div>
					{% for item in order.items %}
						<div class="cart-row" style="background-color: lightblue;height: 80px">
							<div style="flex:1"><img style="width: 80px; height: 80px;margin-left: 20px" class="row-image" src="{{item.get_imageURL}}"></div>
							<div style="flex:1"><p>Product :{{item.name}}</p></div>
							<div style="flex:1"><p>Price :${{item.price}}</p></div>
							<div style="flex:1">
								<p class="quantity">Quantity :{{item.quantity}}</p>
							</div>
							<div style="flex:1"><p>Total :${{item.get_total}}</p></div>
						</div>
					{% endfor %}
				</div>
				<br>
			{% endfor %}
			<br>
		{% endif %}
	</div>
	<br><br>
	<blockquote class="blockquote text-center">
		<footer class="blockquote-footer"> You've scrolled to the end of the List!</footer>
	</blockquote>
{% endblock %}